*{
    margin: 0;
    padding: 0;
}
.head{
    background-image: url(../images/cow.jpg);
    background-size: cover;
    height: 100vh;
    
}
.head h1{
    color: brown;
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 40px;
    letter-spacing: 10px;
    padding: 150px;

}